#home{
    background: url('mental1.jpg') no-repeat center center/cover;
    align-items: center;
    padding:2px 280px 165px 280px;
    display: flex;
    flex-direction:column;
    opacity: 0.89;
}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 5rem;
}

#home p{
    color:darkgrey;
    text-align: center;
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
    padding-bottom: 20px;
}
#contents {
    margin:34px ;
    display:inline-block;
    padding-left: 50px;
    
}
#contents .box{
    border: 3px solid black;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background:darkgrey;
    margin-bottom: 20px;
    
}
#contents .list{
    font-family:'Times New Roman', Times, serif;
     color: black;
     font-size: 1.5rem;
} 
 
#contents .box h2{
     font-size: 2.5rem;
     color: black;
 }
 #contents .box p{
     font-family:'Times New Roman', Times, serif;
      color: black;
      font-size: 1.7rem;
      font-family:'Times New Roman', Times, serif;
 } 

.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    
}
.center{
    text-align: center;
}